import { bootArchipelagoIslands } from "@archipelago-js/react"

<% if @bundler == :esbuild && @auto_registry %>
import registry from "./registry.generated"
<% else %>
// Register your islands here.
const registry = {
  // Example:
  // TeamMembers: TeamMembersIsland
}
<% end %>

void bootArchipelagoIslands(registry)
